
@model JobListModel

@{
    ViewData["Title"] = "ListJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListJob</h1>

@if (Model.Jobs.Count() > 0)
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>StartDate</td>
                <td>DateCompleted</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Jobs)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Descripton</td>
                <td>@item.StartDate</td>
                <td>@item.DateCompleted</td>
                <td>
                    <a class="btn btn-primary btn-sm mr-2" href="/department/departments/@item.Id">Edit</a>
                    <form action="/department/deletedepartment/@item.Id" method="post" style="display:inline;">
                        <input type="hidden" name="departmentId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            }

        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Departments</h4>
    </div>
}

